.about
    width: 100%
    margin: 0 auto
    padding: 40px 0
    // .about__inner

    &__inner
        width: 100%
        margin: 0 auto
    // .about__row

    &__row
        display: flex
        justify-content: space-between
        margin-top: 40px

    // .about__column

    &__column + &__column
        margin-left: 35px

    // .about__text

    &__text
        font-size: 16px
        text-align: justify
